<section class="product_list section">
  <h2 class="is-size-4 has-text-centered">限時閃購商品 － 全台獨家優惠</h2>

  <section class="container">
    
    <div class="columns is-multiline">

    <% products.each do |product| %>
      <div class="column is-4">
        <div class="card product-item is-shadowless">
          <div class="card-image">
            <figure class="image">
              <%= link_to product do %>
              <%= image_tag product.cover_image.variant(resize: '300x300') if product.cover_image.attached? %>
              <% end %>  
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">Bermas</h4>
              <p> <%= link_to product.name,product, class: 'has-text-dark' %> </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>   
      
    </div>
  </section>
</section>